/* IncomeDashboard.css */

/* Sección del contenedor principal */
.income-dashboard-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Sección de la gráfica */
.income-chart-section {
  margin-bottom: 30px;
  max-width: 400px; /* Limita el ancho de la gráfica */
}

.income-dashboard-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.income-dashboard-subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.income-chart {
  text-align: left; /* Alinea la gráfica a la izquierda */
  width: 100%; /* Asegura que la gráfica tome el ancho completo */
}

.income-chart canvas {
  width: 300px !important; /* Ancho exacto de la gráfica */
  height: 300px !important; /* Altura exacta de la gráfica */
}

.filter-button {
  font-size: 12px;
  padding: 5px 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.filter-button i {
  margin-right: 5px;
}

/* Sección de la tabla de ingresos */
.income-list-section {
  width: 100%;
}

.income-table {
  width: 100%;
  border-collapse: collapse;
}

.income-table th,
.income-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.income-table th {
  background-color: #f2f2f2;
}
